{% extends 'base.html' %}



{% block content %}

    <form class="col s12" action="{% url 'user:user_registration' %}" method="POST" enctype="multipart/form-data" autocomplete="off" novalidate>
        {% csrf_token %}

        {{ form.first_name}}
        <label for="id_first_name">First Name</label>
        {% for error in form.errors.first_name %}
            <p class="error">{{ error }}</p>
        {% endfor %}

        <br>

        {{ form.last_name}}
        <label for="id_last_name">Last Name</label>
        {% for error in form.errors.last_name %}
            <p class="error">{{ error }}</p>
        {% endfor %}

        <br>

        {{ form.email }}
        <label for="id_email">Email</label>
        {% for error in form.errors.email %}
            <p class="error">{{ error }}</p>
        {% endfor %}

        <br>

        {{ form.phone_number }}
        <label for="id_phone_number">Phone</label>
        {% for error in form.errors.phone_number %}
            <p class="error">{{ error }}</p>
        {% endfor %}

        <br>

        {{ form.balance }}
        <label for="id_balance">balance</label>
        {% for error in form.errors.balance %}
            <p class="error">{{ error }}</p>
        {% endfor %}

        <br>

        {{ form.password1 }}
        <label for="{{ form.password1.id_for_label }}">Password</label>
        {% for error in form.errors.password1 %}
            <p class="error">{{ error }}</p>
        {% endfor %}

        <br>

       {{ form.password2 }}
        <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
        {% for error in form.errors.password2 %}
            <p class="error">{{ error }}</p>
        {% endfor %}

        <br>

        <button type="submit" name="action">
            რეგისტრაცია
        </button>

    </form>

    <br>

    <a href="{% url 'user:user_login' %}">უკვე რეგისტრირებული ხარ?</a>

{% endblock %}

